@import url(https://fonts.googleapis.com/css?family=Arvo);

body {
	background-color: #E8EAF6;
	margin: 0;
	padding: 0;
	font-family: 'Arvo', sans-serif;
}

table {
	border-collapse: collapse;
	width:100%;
}

td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #grey;
}

div.content {
	width: 700px;
	height: auto;
	margin: 0 auto;
}

div.header {
	background-color: #3F51B5;
	width: 100%;
	height:180px;
	top: 0px;
	position: absolute;
	z-index: -1;
	margin: 0px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

div.section{
	border-radius:5px;
	background-color:white;
	width: 700px;
	min-height: 150px;
	padding-top:10px;
	padding-bottom: 10px;
	margin: 30px auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div.title {
	width:700px;
	margin: 0 auto;
	margin-top: 20px;
}

div.response {
	margin-left:5%;
	margin-right:5%;
	height:250px;
	margin-top:3%;
	overflow: scroll;
}

div.inlineButtons {
	margin-top: 5px;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	text-align: center;
}

li {
	list-style-type: circle;
	margin-bottom:3px;
}

p {
	text-align:center;
}

p.response {
	color: black;
	border-color: white;
	border-style: none none dotted none;
}

h1.header {
	text-align:left;
	color:white;
}

h2.title {
	margin: 0 auto;
	text-align: center;
}

canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;		
	margin-top: 5px;
	display: block;
}

input {
	margin: 0 auto;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

input.button {
	width: 51%;
	margin-left: 24.5%;
	margin-top: 5px;
}

input.inlineButton {
	display: inline-block;
	margin-left: 10px;
	margin-right: 0;
	width: 25%;
	padding: 0;
}

input.text {
	width: 25%;
	margin-left: 10px;
	margin-right: 0px;
	display: inline-block;
	padding:0;
}

a {
	margin: 10px auto;
	width: 100%;
	text-align: center;
	float: left;
}

::-webkit-scrollbar {
	width:0.5em;
}

::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	border-radius:10px;
}
